body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e2f; /* Dark navy */
    overflow: hidden;

}

#game {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

#hamster {
    width: 300px;
    height: 300px;

    cursor: pointer;
    border-radius: 100%;
}

#score {
    font-size: 30px;
    color: yellow;
    margin-bottom: 40px
}

.nartay-image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 3px solid yellow;
    margin-left: 50px;
}

.ton {
    width: 40px;
    height: 40px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: yellow;
    gap: 10px;
}
#message {
    margin-top: 20px;
}